.flashcard {
  width: 65%;
  height: 30rem;
  perspective: 1000px;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flashcard-front,
.flashcard-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #303c54;
  color: #fff;
  display: relative;
  justify-content: center;
  align-items: center;
}

.flashcard-back {
  transform: rotateX(180deg);
}

.flipped {
  transform: rotateX(180deg);
}

.flashcard-front p, .flashcard-back p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #303c54;
  font-size: 48px;
  margin: 0;
}

span {
  display: absolute;
  top: 2%;
  left: 2%;
  background-color:#303c54;
  color: #656f90;
}

.flashcard-front:hover, .flashcard-back:hover {
  cursor: pointer;
}