.flashcard {
  width: 65%;
  max-width: 50rem;
  height: 30rem;
  perspective: 1000px;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flashcard-front,
.flashcard-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #303c54;
  color: #fff;
  display: relative;
  justify-content: center;
  align-items: center;
}

.flashcard-back {
  transform: rotateX(180deg);
}

.flipped {
  transform: rotateX(180deg);
}

.flashcard-front p, .flashcard-back p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #303c54;
  font-size: 48px;
  margin: 0;
}

span {
  display: absolute;
  top: 2%;
  left: 2%;
  background-color:#303c54;
  color: #656f90;
}

.modal-title {
  font-size: 40px;
  color: #fff;
  margin: 1rem 0;
  border: none;
  line-height: 1.25;
}

.flashcard-front:hover, .flashcard-back:hover {
  cursor: pointer;
}

.card-header{
  display: flex;
  justify-content: space-between;
  border: none;
  background-color:#303c54;
}

.save-button {
  background-color: #4255ff;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.cancel-button {
  background-color: #303c54;
  color: #a8b1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border: none;
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color:#303c54;
  border: none;
}

.modal-header {
  align-self: flex-end;
  background-color:#303c54;
}

.modal-header:hover {
  cursor: pointer;
}

.modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#303c54;
}

.modal-footer {
  display: flex;
  justify-content: center;
  width: 30%;
  background-color:#303c54;
  align-self: flex-end;
}

.input-container {
  background-color:#303c54;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
}

.definition, .term {
  font-size: 1.5rem;
  width: 90%;
}