.flashcard-container {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrows {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 3rem;
  margin: 10px;
}

.left-arrow, .right-arrow {
  background: #4255ff;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.left-arrow:hover, .right-arrow:hover {
  transform: scale(1.01);
}

.randomize-button, .unrandomize-button {
  padding: 20px 40px;
}